{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .about-content {
      padding: 80px 0;
      background-color: #ffffff80;
      text-align: center;
      margin: 90px 0 0 0;
    }
    
    .about {
      max-width: 800px;
      margin: 0 auto;
    }
        
    p {
      color: #000;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 15px;
    }
  </style>
  <section class="about-content">
    <div class="container">
      <div class="about">
        <h2>About Us</h2>
        <p>Welcome to [Your Dance Studio Name], where passion meets rhythm and creativity knows no bounds. Our mission is to spread the joy of dance and provide a nurturing environment for dancers of all levels.</p>
        <p>At [Your Dance Studio Name], we believe that dance is not just a form of expression; it's a journey that shapes character, builds confidence, and fosters a sense of community. Our experienced and dedicated instructors are committed to guiding you through this transformative experience.</p>
        <p>Whether you're a beginner taking your first steps or an experienced dancer looking to refine your skills, we offer a variety of classes to suit your interests. Join us in celebrating the art of dance and let the rhythm of life inspire you!</p>
      </div>
    </div>
  </section>
{% endblock %}
