* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../assets/background.jpg') no-repeat fixed center;
}

.nav {
    width: 100%;
    background: #ffffff;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.toggle {
    display: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.space {
    display: none;
}

nav .logo {
    text-decoration: none;
    color: #f00;
    margin: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

nav .logo span {
    color: #eca034;
}

nav .logo .four {
    color: #aaa9ad;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #d67c00;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f00;
}

nav .login-container {
    align-items: center;
}

nav .login {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #f00;
    border: 2px solid #f00;
    border-radius: 20px;
    padding: 10px 20px;
    height: 30px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.login:hover {
    background-color: #f00;
    color: #fff;

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
}

section h2 {
    font-size: 2.2em;
    color: #d67c00;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}


#hero {
    background-image: url('../assets/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 150px 20px;
    margin-top: 80px;
    position: relative;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #c0c0c0;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #f7f7f7;
}

#hero .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff;
    color: #d67c00;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s;
}

#hero .cta-button:hover {
    background-color: #db8712;
    color: #fff;
}


#about {
    background-color: #da971ae8;
    padding: 50px 20px;
    text-align: center;
}

#about .about-content {
    width: 80%;
    margin: 0 auto;
}

#about h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1em;
    color: #f7f7f7;
    line-height: 1.6;
    margin-bottom: 20px;
}


#events-section {
    background-color: #8383838c;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    justify-content: center;
    align-items: center;
}

#events-section .events-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-right: 20px;
}

#events-section .content {
    width: 80%;
    margin: 0 auto;
}

#events-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#events-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
    text-align: justify;
    letter-spacing: 1px;
    margin-right: 20px;
    color: #fff;
}

#events-section .event-image {
    max-width: 300px;
    height: 300px;
    margin-left: 20px;
    float: right;
    border: 1px solid #f00;
    border-radius: 8px;
    box-shadow: 0 4px 8px #d67d00b4;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#events-section .event-image:hover {
    box-shadow: 0 8px 16px #da971ae8;
    transform: scale(1.05);
}

#homeClassContainer,
#classContainer,
#eventContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.search-container {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 2em auto;
}

.query-box {
    display: flex;
    margin: 5px;
}

.search-box {
    height: 48px;
    width: 75%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 0.375rem 0 0 0.375rem;
    outline: none;
}

.search-box:focus {
    border-color: #f00;
}

.search-button {
    height: 48px;
    width: 25%;
    background-color: #6b6a6d;
    color: #fff;
    border: none;
    border-radius: 0 0.375rem 0.375rem 0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    color: #ddd;
    background-color: #f00;
}

.not-found {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
}

.card,
.event-card {
    position: relative;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: calc(25% - 30px);
    margin: 15px;
    box-sizing: border-box;
    clear: both;
}

.card .className,
.event-card .className {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card:hover .className,
.event-card:hover .className {
    display: none;
}

.card:hover,
.event-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px rgba(255, 255, 255, 0.3);
}

.card img,
.event-card img {
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out;
    vertical-align: top;
}

.card-content,
.event-card-content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff80;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: background 0.3s, opacity 0.3s, transform 0.3s ease-in-out;
    padding: 1.5em;
}

.card:hover .card-content,
.event-card:hover .event-card-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.card-content h3,
.event-card-content h3 {
    color: #f00;
    margin-bottom: 0.5em;
}

.card-content p,
.event-card-content p {
    margin-bottom: 0.5em;
    font-size: 1em;

}

.card-content button,
.event-card-content button {
    padding: 10px;
    background-color: transparent;
    color: #f00;
    border: 2px solid #f00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-content button:hover,
.event-card-content button:hover {
    background-color: #f00;
    color: #fff;
}

.card:after,
.event-card:after {
    content: "";
    display: table;
    clear: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card,
.event-card {
    animation: fadeIn 0.5s ease-in-out;
}

footer {
    background-color: #d67c00;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 1em;
    line-height: 1.5;
    color: #f7f7f7;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #f7f7f7;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #aaa9ad;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icons li {
    margin: 0 8px;
}

.social-icons a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

footer p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}

@media (max-width:1010px) {
    .nav {
        height: 80px;
        padding: 0 10px;
    }

    nav .logo {
        font-size: 25px;
    }

    #events-section .events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #events-section .content,
    #events-section .event-image {
        max-width: 100%;
    }

    #events-section h2 {
        font-size: 2.5em;
    }

    #events-section p {
        letter-spacing: normal;
        margin-right: 0;
    }

    #about .about-content {
        width: 90%;
    }

    .card,
    .event-card {
        width: calc(33.33% - 30px);
    }
}

@media (max-width: 900px) {
    nav {
        position: relative;
    }

    .nav {
        height: 80px;
        padding-right: 20px;
    }

    .sticky-nav {
        height: 80px;
        position: fixed;
    }

    .sticky-nav .menu {
        top: 80px;
    }

    .menu {
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #ffffff;
        border-bottom: 4px solid #555;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 102;
        flex-direction: column;
        display: none;
    }

    .menu li {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav .menu li a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 25px;
        background-color: #fff;
        color: #aaa9ad;
        border-bottom: 1px ridge #8383838c;
    }

    .nav .menu li a:hover {
        background-color: #aaa9ad;
        color: #d67c00;
    }

    .toggle {
        display: block;
    }

    .toggle::before {
        content: "\f0c9";
        font-family: fontAwesome;
        line-height: 80px;
        z-index: 1;
        cursor: pointer;
        font-size: 25px;
        color: #d67c00;
        margin-left: 10px;
    }

    .toggle.active::before {
        content: "\f00d";
        color: #aaa9ad;

    }

    .nav.active .menu {
        display: block;
    }

    #classContainer,
    #eventContainer {
        justify-content: flex-start;
    }

    .card,
    .event-card {
        width: calc(50% - 30px);
        margin-bottom: 40px;
    }

    #hero {
        padding: 80px 20px;
    }

    #hero h1 {
        font-size: 28px;
    }

    #hero p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #hero .cta-button {
        padding: 8px 16px;
    }

    #events-section .events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #events-section .content,
    #events-section .event-image {
        width: 100%;
    }

    #events-section h2 {
        font-size: 2.5em;
    }

    #events-section p {
        margin-right: 0;
        letter-spacing: normal;
    }

    .search-container {
        padding: 0 20px;
    }

    .search-box {
        width: 100%;
    }
}

@media (max-width:650px) {

    .card,
    .event-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    #hero h1 {
        font-size: 24px;
    }

    #hero p {
        font-size: 14px;
    }

    #hero .cta-button {
        padding: 6px 12px;
    }

    #events-section .events-content,
    #events-section .content {
        padding: 20px;
    }

    #events-section p {
        letter-spacing: normal;
        margin-right: 0;
    }
}

@media (max-width: 400px) {

    h1,
    h2 {
        font-size: 10px;
    }

    img {
        height: 500px;
    }

    .logo {
        font-size: 10px;
    }

    .space {
        display: block;
    }
}